[Unit]
Description=Home Lab IP Manager
After=network.target

[Service]
Type=simple
User=yourusername
Group=yourusergroup
WorkingDirectory=/opt/HomeIPAdmin
Environment="PATH=/opt/HomeIPAdmin/.venv/bin:/usr/bin:/bin"
ExecStart=/opt/HomeIPAdmin/.venv/bin/python main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
